.container {
  margin: 0 auto;
  padding: 150px 0 0 0;
  position: relative;
  overflow: hidden;
}

.firstDivider {
  position: absolute;
  left: 60px;
  top: 0px;
  height: 100%;
  border-left: solid 1px rgba(149, 151, 171, 0.1);
}

.secondDivider {
  position: absolute;
  left: 45.8%;
  top: 0px;
  height: 100%;
  border-left: solid 1px rgba(149, 151, 171, 0.1);
}

@media only screen and (max-width: 768px) {
 .container{
   padding: 49px 0 !important;
 }

.firstDivider{
left: 24px !important;
}
.secondDivider{
  right: 24px !important;
  left: inherit !important;
}

}
